<mat-toolbar color="primary" class="transparent-toolbar">
    <span style="font-family: Garamond, serif; font-size:24px; " (click)="home()">Booking</span>
    <span class="example-spacer"></span>
    <button mat-icon-button style="font-size: 14px; width: 100px;" routerLink="">Link</button>

    <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: 20px">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="login()" *ngIf="isLoggedIn()">Prijava</button>
      <button mat-menu-item (click)="register()" *ngIf="isLoggedIn()">Registracija</button>
      
      <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn()">Odjava</button>
    </mat-menu>
  </mat-toolbar>
  