:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto; /* Ensure header doesn't shrink or grow */
}

.router-outlet {
  flex: 1 1 auto; /* Allow router-outlet to grow and fill remaining space */
  overflow-y: auto; /* Enable scrolling if content overflows */
}
